In [11]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/Lab/ODoH-ML/Nov5/

%ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Lab/ODoH-ML/Nov5
1/  5/                  MEREGED_RAW_FINAL.csv          raw_merged_updated.csv
2/  6/                  MEREGED_RAW_FINAL_GROUPED.csv
3/  category.csv        merged.csv
4/  grouped_merged.csv  raw_merged.csv

In [12]:
import pandas as pd
# ds_1 = pd.read_csv("1/final3_cleaned_grouped.csv")
# ds_2 = pd.read_csv("2/final3_cleaned_grouped.csv")
# ds_3 = pd.read_csv("3/final3_cleaned_grouped.csv")
# ds_4 = pd.read_csv("4/final3_cleaned_grouped.csv")
# ds_5 = pd.read_csv("5/final3_cleaned_grouped.csv")

ds_6 = pd.read_csv("MEREGED_RAW_FINAL_GROUPED.csv")

# ds_1.info()
# ds_2.info()
# ds_3.info()
# ds_4.info()
# ds_5.info()

In [13]:
# ds_temp = [ds_1, ds_2, ds_3, ds_4, ds_5]
ds_temp = [ds_6]
  
ds_0 = pd.concat(ds_temp,ignore_index=True)

# ds.to_csv('grouped_merged.csv')

ds_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        105 non-null    int64
 1   query             105 non-null    object
 2   sum Input-U-Time  105 non-null    float64
 3   sum Input-D-Time  105 non-null    float64
 4   sum Input-D-Size  105 non-null    float64
 5   sum Out-U-Time    105 non-null    float64
 6   sum Out-D-Time    105 non-null    float64
 7   sum Out-U-Size    105 non-null    float64
 8   sum Out-D-Size    105 non-null    float64
 9   count             105 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 8.3+ KB

In [14]:
ds_0.head()

,Unnamed: 0,query,sum Input-U-Time,sum Input-D-Time,sum Input-D-Size,sum Out-U-Time,sum Out-D-Time,sum Out-U-Size,sum Out-D-Size,count
0,0,affirm.com,31.060310,0.179775,6808.0,0.013460,0.078988,1350.0,3753.0,28
1,1,airbnb.com,10.535016,0.034629,2329.0,0.003151,0.010327,260.0,1220.0,6
2,2,amazon.com,0.726917,0.010925,746.0,0.000863,0.000694,86.0,382.0,2
3,3,apple.com,0.221470,0.026653,924.0,0.000609,0.007074,84.0,508.0,2
4,4,att.com,7.017571,0.302858,5302.0,0.009128,0.110841,780.0,2924.0,18

In [15]:
# x_temp = ds.loc[:, ds.columns != "Label"]
# X = x_temp.loc[:, x_temp.columns != "groups"]

ds = ds_0.iloc[: , 2:]
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sum Input-U-Time  105 non-null    float64
 1   sum Input-D-Time  105 non-null    float64
 2   sum Input-D-Size  105 non-null    float64
 3   sum Out-U-Time    105 non-null    float64
 4   sum Out-D-Time    105 non-null    float64
 5   sum Out-U-Size    105 non-null    float64
 6   sum Out-D-Size    105 non-null    float64
 7   count             105 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 6.7 KB

In [16]:
from sklearn.cluster import KMeans
clusters = 5

kmeans = KMeans(n_clusters = clusters, max_iter= 500, n_init=20)

cluster = kmeans.fit_predict(ds.iloc[: , 1:])
ds['Cluster'] = cluster
# ds.columns

In [ ]:
ds2 = ds[['query', 'count', 'Cluster']]
ds2.head()

        query  count  Cluster
0  affirm.com     28        0
1  airbnb.com      6        1
2  amazon.com      2        1
3   apple.com      2        1
4     att.com     18        4

In [ ]:
# applying groupby() function to
# group the data on team value.
gp = ds2.groupby('Cluster')
  
# Let's print the first entries
# in all the groups formed.
gp.first()

                   query  count
Cluster
0             affirm.com     28
1             airbnb.com      6
2        dailymail.co.uk     70
3                cnn.com     44
4                att.com     18

In [ ]:
for i in range(0, clusters):
  print("\nCluster: ", i, " is:\n", gp.get_group(i)['query'].value_counts())
# max()

Cluster:  0  is:
 affirm.com         1
capitalone.com     1
yahoo.com          1
wordpress.com      1
wellsfargo.com     1
walmart.com        1
verizon.com        1
ups.com            1
spankbang.com      1
shein.com          1
samsung.com        1
salesforce.com     1
okta.com           1
instructure.com    1
imdb.com           1
foxnews.com        1
fandom.com         1
ebay.com           1
criteo.com         1
youtube.com        1
Name: query, dtype: int64

Cluster:  1  is:
 airbnb.com                                                1
amazon.com                                                1
redd.it                                                   1
s.pinimg.com                                              1
safedk.com                                                1
search-hub.co                                             1
shopify.com                                               1
ticketmaster.com                                          1
tumblr.com                                                1
twitter.com                                               1
uber.com                                                  1
uidapi.com                                                1
usps.com                                                  1
www.adobe.com                                             1
www.craigslist.org                                        1
www.doppiocdn.com                                         1
www.doppiocdn.com.test3.ch-geni-net.instageni.wisc.edu    1
www.google.com                                            1
www.pinterest.com                                         1
www.wikipedia.org                                         1
xnxx.com                                                  1
xvideos.com                                               1
yelp.com                                                  1
quora.com                                                 1
qccerttest.com                                            1
paypal.com                                                1
facebook.com                                              1
apple.com                                                 1
bestbuy.com                                               1
bing.com                                                  1
chase.com                                                 1
doordash.com                                              1
doppiocdn.net                                             1
duckduckgo.com                                            1
en.wikipedia.org                                          1
expedia.com                                               1
geo.craigslist.org                                        1
onlyfans.com                                              1
impactcdn.com                                             1
indeed.com                                                1
instagram.com                                             1
linkedin.com                                              1
madison.craigslist.org                                    1
mangago.me                                                1
mcdonalds.com                                             1
microsoft.com                                             1
microsoftonline.com                                       1
zillow.com                                                1
Name: query, dtype: int64

Cluster:  2  is:
 dailymail.co.uk    1
espn.com           1
msn.com            1
tiktok.com         1
Name: query, dtype: int64

Cluster:  3  is:
 cnn.com           1
etsy.com          1
evergage.com      1
force.com         1
healthline.com    1
hulu.com          1
nytimes.com       1
reddit.com        1
roblox.com        1
weather.com       1
zoom.us           1
Name: query, dtype: int64

Cluster:  4  is:
 att.com             1
blogspot.com        1
wikimedia.org       1
twitch.tv           1
tripadvisor.com     1
target.com          1
t-mobile.com        1
spotify.com         1
pornhub.com         1
patreon.com         1
office.com          1
netflix.com         1
mangakakalot.com    1
live.com            1
instacart.com       1
homedepot.com       1
fedex.com           1
dropbox.com         1
discord.com         1
cvs.com             1
chaturbate.com      1
xhamster.com        1
Name: query, dtype: int64

In [ ]:
gp.get_group(4)

               query  count  Cluster
4            att.com     18        4
7       blogspot.com     22        4
10    chaturbate.com     16        4
13           cvs.com     10        4
15       discord.com     20        4
18       dropbox.com     28        4
28         fedex.com      8        4
33     homedepot.com     20        4
38     instacart.com     16        4
42          live.com     18        4
45  mangakakalot.com     26        4
50       netflix.com     12        4
52        office.com      6        4
55       patreon.com     16        4
57       pornhub.com     20        4
71       spotify.com     22        4
72      t-mobile.com     20        4
73        target.com     18        4
76   tripadvisor.com     10        4
78         twitch.tv     16        4
88     wikimedia.org     30        4
97      xhamster.com     20        4

In [ ]:
# new = gp.get_group(1)
# counts = gp.get_group(i)['Label'].value_counts()
# new.loc[new['Label'] == 'Health']